@model PokemonRenting.Web.Models.ViewModels.Pokemon.SummaryViewModel

@{
    ViewData["Title"] = "Order Summary";
}

<h2>Order Summary</h2>

<form asp-action="Order" method="post" class="form-horizontal">
    <div class="col-md-4">
        <img src="\@Model.PokemonImage" alt="Pokemon Image" class="img-fluid" />
        <input type="hidden" asp-for="PokemonImage" />

    </div>
    <div class="form-group">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" readonly />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StartDate" class="control-label"></label>
        <input asp-for="StartDate" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ReturnDate" class="control-label"></label>
        <input asp-for="ReturnDate" class="form-control" />
        <span asp-validation-for="ReturnDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DailyRate" class="control-label"></label>
        <input asp-for="DailyRate" class="form-control" readonly />
        <span asp-validation-for="DailyRate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TotalAmount" class="control-label"></label>
        <input asp-for="TotalAmount" class="form-control" readonly />
        <span asp-validation-for="TotalAmount" class="text-danger"></span>
    </div>


    <a asp-controller="Home" asp-action="Index" class="btn btn-success ml-2">AddToCart </a>

</form>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl6v0l3/Q0R3UCCa6hB7xaIW8L2Vfb1YnoMZVfmDd3PeG6yfZBf1AIwJ9zB" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}