@model PokemonRenting.Web.Models.ViewModels.Pokemon.PokemonDetailsViewModel

@{
    ViewData["Title"] = "Pokemon Details";
}

<h2>@Model.PokemonName</h2>

<div>
    <img src="@Model.PokemonImage" alt="Pokemon Image" class="img-responsive" />
    <p>@Model.PokemonDescription</p>
    <p>Daily Rate: @Model.DailyRate</p>
</div>

<form asp-action="Order" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="DailyRate" />
    <input type="hidden" asp-for="PokemonImage" />
    <div class="form-group">
        <label asp-for="StartDate" class="control-label"></label>
        <input asp-for="StartDate" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ReturnDate" class="control-label"></label>
        <input asp-for="ReturnDate" class="form-control" />
        <span asp-validation-for="ReturnDate" class="text-danger"></span>
    </div>

    <input type="submit" value="Order" class="btn btn-primary" />
</form>
